{% extends 'base.html' %}

{% block title %}Add a new Task{% endblock %}

{% block content %}
<div class="text-center my-3">

    <h2>Task Name:</h2>
    <p>{{event_name}}</p>
    <h3>Description:</h3>
    <p>{{description}}</p>
    <h3>Event Date:</h3>
    <p>{{event_date}}</p>
    <h3>Status:</h3>
    <p>{{status}}</p>


    <button class = "btn btn-lg btn-primary mx-1 text-decoration-none">
        <a href = "{% url 'todolist:update_event' id %}" class="text-light text-decoration-none">Edit Task</a>
    </button>
    <button class = "btn btn-lg btn-danger mx-1 text-decoration-none">
        <a href = "{% url 'todolist:delete_event' id %}" class="text-light text-decoration-none">Delete Task</a>
    </button>
    <button class = "btn btn-lg btn-warning mx-1 text-decoration-none">
        <a href = "{% url 'todolist:index' %}" class="text-light text-decoration-none">Go Back</a>
    </button>
</div>

{% endblock %}