{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
	{% if user.is_anonymous == True %}

		<h1 class = "text-center my-3">You are not authorized to access this page.</h1>
		<p class = "text-center">Kindly login <a href = "login">here</a></p>

	{% elif user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome {{user.first_name}} {{user.last_name}}!</h1>
		<div class="container">
			<!-- Task index -->
			<div class="row text-center">
				<h3 class="mb-3">My Tasks:</h3>
				<ul class="list-group col-lg-2 offset-lg-5">
					{% if todoitem_list %}
						{% for todoitem in todoitem_list %}
							<a href="{% url 'todolist:viewtodoitem' todoitem.id%}" class="text-decoration-none">
								<li class="list-group-item">{{todoitem.task_name}}</li>
							</a>
						{% endfor %}
					{% else %}
						<p>No tasks have been created.</p>	
					{% endif %}
				</ul>
			</div>

			<!-- Event Index -->
			<div class="row text-center">
				<h3 class="mb-3">My Events:</h3>
				<ul class="list-group col-lg-2 offset-lg-5">
					{% if eventitem_list %}
						{% for eventitem in eventitem_list %}
							<a href="{% url 'todolist:vieweventitem' eventitem.id%}" class="text-decoration-none">
								<li class="list-group-item">{{eventitem.event_name}}</li>
							</a>
						{% endfor %}
					{% else %}
						<p>No events have been created.</p>	
					{% endif %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}